* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
  }
  
  h1 {
    color: #426696;
    font-weight: 666;
    font-size: 2rem;
    opacity: 0.8;
  }
  h2 {
    color: #658ec6;
    font-weight: 500;
    font-size:1.5rem;
    opacity: 0.8;
  }
  
  p{
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
    font-size:12px;
    overflow:auto;
  
  }
  
  h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
    float: left;
  }
  
  main {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right top, #65dfc9, #ffc3ff);
  }
  
  .glass-container {
    @media (max-width:800px) {
      height: 80%;
      } 
    @media (max-width:760px) {
        height: 100%;
        max-width: 100%;
      } 
    height: 700px;
    max-width: 70%;
    position: fixed;
  }

  .glass {
    
    @media (max-width:760px) {
      border-radius:0rem;
    } 
    overflow: hidden; 
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 1.5rem;
  }


  .topbar {
    @media (max-width:760px) {
      height: 60px;
      line-height: 40px;
      border-radius:0rem;
    } 
    background: white; 
    height: 45px; 
    padding: 10px; 
    line-height: 30px; 
    border-radius: 20px 20px 0 0; 
    color: #658ec6;
    font-size: 14px;
  }

  .topbar-icon {
    margin: 0 8px 0 10px; 
    float: left; 
    height: 100px; 
  }

  .topbar-nav {
    width: 400px;
    margin-left: 410px;
    position: absolute;
  }
  .topbar-links {
    width: 53px; 
    float:right;
    margin:0px; 
  }

  .topbar-git, .topbar-mail {
    max-width: 20px; 
    float:left;
    margin-left: 5px;
  }



  
  .info-side {
    @media (max-width:800px) {
      display:none; 
      width: 0px;
    }
    position:fixed;
    z-index: 1; 
    width: 250px;
    border-right: 1px solid #ffffff; 
    height: 655px;
  }
  
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 200px;
    height: 280px;
    margin: 80px 0 0 -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: #ffffff;
    border-radius: 1.5rem;
    overflow: hidden; 
  }

  .sidebar-icon {
    background-image: url(images/avatar.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding: 50px;
  }

  .sidebar-info {
    margin: 400px 20px 0 90px; 
    background-color: #ffffff;
    color: #666666;
    padding: 15px; 
    border-radius: 0 10px 10px 0; 
    height: 110px; 
    border-left: 10px solid rgb(121, 197, 162);; 
    margin-left: -5.5px;
  }

  .main-content {
    @media (max-width:800px) {
      margin: 0px; 
      height: 100%;
    }
    position:relative;
    margin: 0 0 0 251px;
    height: 635px;
    padding: 20px;

  }

  a:hover {
    filter: brightness(0.5) invert(1); 
    transition: 500ms ease;
  }
  
  
  /* projects */
  .status {
    margin-bottom: -1rem;
    height:4rem;
      overflow:auto;

  }
  
  .projects {
    @media (max-width:800px) {
      height: 98%;
    }
    flex :2; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom:20px;
    height: 625px;
      overflow:auto;


  }
  
  .cards{
    overflow: auto;
    padding-right:20px;

  }
  
  .card {
    display: flex;
    min-width: fit-content;
    height:auto;
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 1.5rem 0rem;
    padding: 2rem;
    box-shadow: 4px 4px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
      overflow:auto;

  }
  
  .card-info {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-width:85%;
  }
  
  .bottom-nav {
    /* background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    border-top: 1px solid #ffffff;
    text-align: center; */
  } 


  ::-webkit-scrollbar {
    width: 10px;
    }
    
    ::-webkit-scrollbar-track {
    border: 1px solid rgb(121, 197, 162);
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background:rgb(121, 197, 162);
    border-radius: 10px;
    }


    @media (max-width:760px) {
      ::-webkit-scrollbar {
        width: 0px;
        }
      ::-webkit-scrollbar-track {
        background:none;
      }
      ::-webkit-scrollbar-thumb {
        background:none;
      }
    } 
